
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3><%= ["hello","'ravi","pathak"][1]%></h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci nisi cupiditate aspernatur, commodi sapiente quae autem? Praesentium dolore voluptatum eos maxime magni doloremque sit nemo alias eius nostrum. Nihil, nostrum?
        Doloremque ratione aliquam cum asperiores magnam et quasi accusamus porro harum, iusto nemo vel esse autem enim architecto illum minima impedit, exercitationem aperiam tempore delectus tenetur tempora ab. Eum, modi?
        Reprehenderit consequatur rerum neque animi inventore maiores deserunt facere suscipit autem tempore architecto expedita quis laudantium ut cum nobis iure, accusantium dolorem quasi molestias numquam nihil veritatis quibusdam. Nesciunt, quod.
        Natus quia assumenda doloremque nobis ratione iusto inventore accusamus ducimus nostrum quos fugiat debitis corporis ipsa omnis laborum dicta ut esse, dolorem cupiditate sint quam, officiis aliquid beatae. Quidem, error.
        At incidunt ea, non rem delectus ab nesciunt obcaecati veniam modi accusamus aspernatur reiciendis ipsa consectetur, eum ipsum distinctio nihil natus neque magni odio rerum a dolor! Qui, quo labore.
        Qui perspiciatis quis esse voluptatem suscipit, alias iste architecto impedit dolore recusandae sint? Quo nulla mollitia magni officiis tempora fugiat rerum sed non odio et, quidem maiores perspiciatis nostrum corrupti.
        Eos, nisi eum debitis quos facilis aspernatur cum iure, voluptates optio iusto molestias omnis error autem sequi? Tempora reiciendis, dolor itaque placeat similique recusandae minus, dolores perferendis eligendi maiores necessitatibus!
        Quidem veritatis ab animi quis eos dolores facilis commodi et temporibus non inventore quo aperiam facere quisquam odio modi sed est, minus, harum cum, voluptatibus omnis suscipit hic! Officia, distinctio.
        Deleniti cumque est vero aspernatur et laboriosam ipsam quas ea doloremque animi adipisci alias eius reiciendis dolores ipsum facere, repellat quia rem aliquid! Facilis esse praesentium laborum, alias deserunt placeat.
        Minima voluptatem quam corrupti expedita animi ut illum reprehenderit beatae similique, ea nisi fugiat sit. Quia, neque maxime necessitatibus quo at pariatur dignissimos enim dicta? Placeat ipsum nisi quibusdam alias.
    </p>
    <button>click Me!</button>
</body>
</html>